<div class="row page-body">
    <div class="span12">
        <div class="row">
            <div class="span5 index_show">
                <h2>The latest code</h2>
                <div class="row part_title">
                    <div class="span1">ID</div>
                    <div class="span4">Description</div>
                </div>
                <% @latest.each do |snippet| %>
                <hr class="index_hr" />
                <div class="row">
                    <div class="span1"><%= link_to snippet[:code_id], show_url(snippet[:code_id]) %></div>
                    <div class="span4"><%= snippet[:description] %></div>
                </div>
                <% end %>
                </hr />
            </div>
            <div class="span7 index_show">
                <h2>The hottest code</h2>
                <div class="row part_title">
                    <div class="span1">ID</div>
                    <div class="span1">Comments</div>
                    <div class="span5">Description</div>
                </div>
                <% @hottest.each do |snippet, comment_count| %>
                <hr class="index_hr" />
                <div class="row">
                    <div class="span1"><%= link_to snippet[:code_id], show_url(snippet[:code_id]) %></div>
                    <div class="span1"><%= comment_count %></div>
                    <div class="span5"><%= snippet[:description] %></div>
                </div>
                <% end %>
                </hr />
            </div>

        </div>
    </div>
</div>

