<div class="row page-body">
    <div class="span12">
        <div class="row">
            <div class="span4">
                <h2>The latest code</h2>
                <div class="row">
                    <div class="span1">Code Id</div>
                    <div class="span3">Code Description</div>
                </div>
                <% @latest.each do |snippet| %>
                <hr class="index_hr" />
                <div class="row">
                    <div class="span1"><%= link_to snippet[:code_id], show_url(snippet[:code_id]) %></div>
                    <div class="span3"><%= snippet[:description] %></div>
                </div>
                <% end %>
                </hr />
            </div>
            <div class="span5">
                <h2>The hottest code</h2>
                <div class="row">
                    <div class="span1">Code Id</div>
                    <div class="span1">Comments</div>
                    <div class="span3">descrition</div>
                </div>
                <% @hottest.each do |snippet, comment_count| %>
                <hr class="index_hr" />
                <div class="row">
                    <div class="span1"><%= link_to snippet[:code_id], show_url(snippet[:code_id]) %></div>
                    <div class="span1"><%= comment_count %></div>
                    <div class="span3"><%= snippet[:description] %></div>
                </div>
                <% end %>
                </hr />
            </div>
            <div class="span3">
                <form action="code/show" method="post" class="form-inline">
                    <input class="input-small" name="id" type="text" placeholder="The id to view" />
                    <input class="btn-primary span1" type="submit" value="Go" />
                </form>
                <form action="" method="get" class="form-line form-search">
                    <input class="input-small" naem="tag" type="text" placeholder="Search" />
                    <input class="btn-primary span1" type="submit" value="Search" />
                </form>
                <hr>
                <h2>Analyzis</h2>
            </div>
        </div>
    </div>
</div>

