<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <% if @snippet %>
                <div class="show-code">
                    <h2><%= @snippet[:name] %>
                    <% if !params[:code_id] %>
                        <small><%= link_to "Edit", edit_url(params[:id]) %></small>
                    <% else %>
                        <small><%= link_to "Lastest Version", show_url(params[:code_id]) %></small>
                    <% end %></h2>
                    <p><small>Description</small> <%= @snippet[:description] %></p>
                    <p><small>Author</small> 
                        <% if @code[:page] %>
                        <%= link_to @code[:author], @code[:page], :rel=>"nofollow" %>
                        <% else %>
                        <%= @code[:author] %>
                        <% end %>
                        <span class="version">
                            <small>Version</small> <%= link_to @snippet[:version], versions_url(@code) %>
                        </span> 
                    </p>
                    <p>
                        <small>Updated At</small> <%= @code[:updated_at] %>
                        <small>Created At</small> <%= @code[:created_at] %>
                    </p>
                    <%= show_code(@snippet[:source], @snippet[:language]) %>
                    
                </div>
                <hr />
                <div class="comment">
                    <h2>Comments</h2>
                    <div class="row">
                        <div class="span7">
                            <% if @comments %>
                                <% @comments.each_with_index do |c, index| %>
                                    <p>
                                        <%= gravatar_for c[:email], :size=>16 %>
                                        <% if c[:page] %>
                                            <%= link_to c[:nick], c[:page], :rel=>"nofollow" %>
                                        <% else %>
                                            <%= c[:nick] %>
                                        <% end %>
                                        <span class="comment_lev pull-right">#<%= index + 1 %></span>
                                    </p>
                                    <p>
                                        <small>Post at</small> <%= c[:created_at] %> <br />
                                    </p>
                                    <div class="comment_content"><%= markdown(c[:content]) %></div>
                                    <hr />
                                <% end %>
                            <% else %>
                            <p>There's no any comments yet</p>
                            <% end %>
                        </div>
                        <div class="span5">
                            <%= form_tag({:action=>"new", :controller=>"comment", :id=>params[:id]}, :name=>"comment", :method=>"post", :multipart=>"true") do %>
                                <%= label_tag :comment_email, "Email" %>
                                <%= text_field :comment, :email, :class=>"span3", :placeholder=>"Not null" %>
                                <%= label_tag :comment_nick, "Nick" %>
                                <%= text_field :comment, :nick, :class=>"span3", :placeholder=>"Not null" %>
                                <%= label_tag :comment_page, "Page"%>
                                <%= text_field :comment, :page, :class=>"span3", :placeholder=>"Personal Page" %>
                                <%= label_tag :comment_content, "Content" %>
                                <%= text_area :comment, :content, :class=>"span5", :rows=>5, :placeholder=>"Not null" %>
                                <p class="span4">
                                    <input type="submit" class="btn-primary span2" value="Submit" />
                                    <input type="reset" class="btn-primary span2" value="Reset" />
                                </p>
                            <% end %>
                        </div>
                    </div>

                    
                </div>
                <% else %>
                    <% if params[:code_id] %>
                    <h2>Sorry, code <%= params[:code_id] %> has no version <%= params[:id] %></h2>
                    <% else %>
                    <h2>Sorry, there's no code with id <%= params[:id] %></h2>
                    <% end %>
                <%= link_to "Back To Home", "/" %>
                <% end %>
            </div>
        </div>
    </div>
</div>